.footerContainer{
    min-height: 60px;
    background-color: #131111;
    border: 2px solid gray;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;

}

.footerlogoContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    img{
        width: 70%;
    }
}

.contentFooterBox{
    padding: 4px;

    ul{
        list-style:lower-greek;
        padding-left: 40px;
        padding-right: 20px;
        line-height: 30px;
        font-size: 14px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: aliceblue;
        a{
            text-decoration: none;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bolder;
            color: red;
            font-size: larger;
        }
    }

    .footerDisclaimer{
        font-size: 12px;
        text-align: center;
        color: white;
        opacity: 0.6;
        font-weight: 500;
    }
}